USE [Proyacto_Agricultura2]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[Cod_Producto] [int] NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Tipo] [varchar](30) NULL,
	[Fecha_registro] [date] NULL,
	[Fecha_cosecha] [date] NULL,
	[Fecha_vencimiento] [date] NULL,
	[Valor_unitario] [int] NULL,
	[UsuarioID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[producto_disponible]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[producto_disponible] AS
SELECT
    p.Cod_Producto,
    p.Tipo + ' ' + p.Descripcion AS producto_disponible,
    CONVERT(VARCHAR(10), p.Fecha_cosecha, 103) AS cosecha
FROM productos p;
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[Cod_venta] [varchar](20) NOT NULL,
	[Cod_Producto] [int] NOT NULL,
	[Fecha_venta] [date] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Cantidad] [int] NULL,
	[Precio_unitario] [int] NULL,
	[Metodo_pago] [varchar](20) NULL,
	[Total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[recibo]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[recibo] AS
SELECT
    v.Cod_venta,
    v.Fecha_venta,
    v.Cantidad,
    v.Precio_unitario,
    v.Cantidad * v.Precio_unitario AS Total
FROM ventas v;
GO
/****** Object:  View [dbo].[vw_Producto_Disponible]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Producto_Disponible] AS
SELECT
    p.Cod_Producto,
    p.Tipo + ' ' + p.Descripcion AS Producto,
    CONVERT(VARCHAR(10), p.Fecha_cosecha, 103) AS Fecha_Cosecha,
    p.Valor_unitario
FROM productos p;
GO
/****** Object:  View [dbo].[vw_Recibo]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_Recibo] AS
SELECT
    v.Cod_venta,
    v.Fecha_venta,
    v.Cantidad,
    v.Precio_unitario,
    v.Cantidad * v.Precio_unitario AS Total,
    v.Metodo_pago
FROM ventas v;
GO
/****** Object:  Table [dbo].[novedades]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[novedades](
	[Cod_producto] [int] NOT NULL,
	[Tipo] [varchar](20) NULL,
	[Descripcion] [varchar](250) NULL,
	[Fecha_novedad] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Novedades]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Novedades] AS
SELECT
    n.Cod_producto,
    n.Tipo,
    n.Descripcion,
    n.Fecha_novedad,
    p.Descripcion AS Producto
FROM novedades n
JOIN productos p ON n.Cod_producto = p.Cod_Producto;
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[Accion] [varchar](255) NULL,
	[Fecha] [datetime] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[capacitacion]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[capacitacion](
	[Cod_Capacitacion] [varchar](20) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Metodo_Pago] [varchar](20) NULL,
	[Tipo] [varchar](30) NULL,
	[Fecha_capacitacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Capacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comprobante_pago]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comprobante_pago](
	[Num_comprobante] [int] NOT NULL,
	[Cod_Producto] [int] NOT NULL,
	[Cantidad] [int] NULL,
	[Valor] [int] NULL,
	[Fecha_compra] [date] NULL,
	[UsuarioID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Num_comprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[Cod_Inventario] [int] NOT NULL,
	[Nombre_producto] [varchar](30) NULL,
	[Cantidad] [int] NULL,
	[Fecha_entrada] [date] NULL,
	[Fecha_salida] [date] NULL,
	[Tipo_producto] [varchar](20) NULL,
	[UsuarioID] [int] NOT NULL,
	[Cod_Producto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Inventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[ID] [int] NOT NULL,
	[Documento] [bigint] NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Contraseña] [varchar](30) NULL,
	[Rol] [varchar](20) NULL,
	[Correo] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[capacitacion]  WITH CHECK ADD  CONSTRAINT [FK_capacitacion_usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[usuario] ([ID])
GO
ALTER TABLE [dbo].[capacitacion] CHECK CONSTRAINT [FK_capacitacion_usuario]
GO
ALTER TABLE [dbo].[comprobante_pago]  WITH CHECK ADD  CONSTRAINT [FK_comprobante_pago_productos] FOREIGN KEY([Cod_Producto])
REFERENCES [dbo].[productos] ([Cod_Producto])
GO
ALTER TABLE [dbo].[comprobante_pago] CHECK CONSTRAINT [FK_comprobante_pago_productos]
GO
ALTER TABLE [dbo].[comprobante_pago]  WITH CHECK ADD  CONSTRAINT [FK_comprobante_pago_usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[usuario] ([ID])
GO
ALTER TABLE [dbo].[comprobante_pago] CHECK CONSTRAINT [FK_comprobante_pago_usuario]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [FK_inventario_productos] FOREIGN KEY([Cod_Producto])
REFERENCES [dbo].[productos] ([Cod_Producto])
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [FK_inventario_productos]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [FK_inventario_usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[usuario] ([ID])
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [FK_inventario_usuario]
GO
ALTER TABLE [dbo].[novedades]  WITH CHECK ADD  CONSTRAINT [FK_novedades_productos] FOREIGN KEY([Cod_producto])
REFERENCES [dbo].[productos] ([Cod_Producto])
GO
ALTER TABLE [dbo].[novedades] CHECK CONSTRAINT [FK_novedades_productos]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[usuario] ([ID])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_usuario]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_ventas_productos] FOREIGN KEY([Cod_Producto])
REFERENCES [dbo].[productos] ([Cod_Producto])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_ventas_productos]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_ventas_usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[usuario] ([ID])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_ventas_usuario]
GO
/****** Object:  StoredProcedure [dbo].[Productos_Tipo]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Productos_Tipo]
    @Tipo NVARCHAR(20)
AS
BEGIN
    SELECT Cod_Producto, Descripcion, Tipo, Valor_unitario
    FROM productos
    WHERE Tipo = @Tipo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Inventario_Producto]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Inventario_Producto]
    @Cod_Producto VARCHAR(20)
AS
BEGIN
    SELECT i.Cod_Inventario, i.Nombre_producto, i.Cantidad, i.Tipo_producto, i.Fecha_entrada, i.Fecha_salida
    FROM inventario i
    WHERE i.Cod_Producto = @Cod_Producto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Novedades_Producto]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Novedades_Producto]
    @Cod_Producto VARCHAR(20)
AS
BEGIN
    SELECT n.Cod_producto, n.Tipo, n.Descripcion, n.Fecha_novedad
    FROM novedades n
    WHERE n.Cod_producto = @Cod_Producto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Productos_Tipo]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Productos_Tipo]
    @Tipo NVARCHAR(30)
AS
BEGIN
    SELECT Cod_Producto, Descripcion, Tipo, Valor_unitario, Fecha_cosecha
    FROM productos
    WHERE Tipo = @Tipo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_Rol]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Usuario_Rol]
    @Rol NVARCHAR(20)
AS
BEGIN
    SELECT ID, Documento, Nombre, Correo, Rol
    FROM usuario
    WHERE Rol = @Rol;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_Rol]    Script Date: 18/09/2025 1:21:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Usuario_Rol]
    @Rol NVARCHAR(50)
AS
BEGIN
    SELECT Documento, Nombre, Correo, Rol
    FROM usuario
    WHERE Rol = @Rol;
END;
GO
