USE [proyecto_agricultura]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 11/09/2025 3:44:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[Cod_Producto] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Tipo] [varchar](30) NOT NULL,
	[Fecha_registro] [date] NOT NULL,
	[Fecha_cosecha] [date] NOT NULL,
	[Fecha_vencimiento] [date] NOT NULL,
	[Valor_unitario] [int] NOT NULL,
	[Documento] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[producto_disponible]    Script Date: 11/09/2025 3:44:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[producto_disponible] AS
SELECT
    p.Cod_Producto,
    p.Tipo + ' ' + p.Descripcion AS producto_disponible,
    CONVERT(VARCHAR(10), p.Fecha_cosecha, 103) AS cosecha
FROM productos p;
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 11/09/2025 3:44:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[Cod_venta] [varchar](20) NOT NULL,
	[Cod_Producto] [int] NOT NULL,
	[Fecha_venta] [date] NOT NULL,
	[Documento] [bigint] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio_unitario] [int] NOT NULL,
	[Metodo_pago] [varchar](20) NOT NULL,
	[Total] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[recibo]    Script Date: 11/09/2025 3:44:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[recibo] AS
SELECT
    v.Cod_venta,
    v.Fecha_venta,
    v.Cantidad,
    v.Precio_unitario,
    v.Cantidad * v.Precio_unitario AS Total
FROM ventas v;
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 11/09/2025 3:44:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](255) NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[capacitacion]    Script Date: 11/09/2025 3:44:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[capacitacion](
	[Cod_Capacitacion] [varchar](20) NOT NULL,
	[Documento] [bigint] NOT NULL,
	[Metodo_Pago] [varchar](20) NOT NULL,
	[Tipo] [varchar](30) NOT NULL,
	[Fecha_capacitacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Capacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comprobante_pago]    Script Date: 11/09/2025 3:44:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comprobante_pago](
	[Num_comprobante] [int] NOT NULL,
	[Cod_Producto] [varchar](20) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Valor] [int] NOT NULL,
	[Fecha_compra] [date] NOT NULL,
	[Documento] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Num_comprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 11/09/2025 3:44:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[Cod_Inventario] [int] NOT NULL,
	[Nombre_producto] [varchar](30) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Fecha_entrada] [date] NOT NULL,
	[Fecha_salida] [date] NOT NULL,
	[Tipo_producto] [varchar](20) NOT NULL,
	[Documento] [bigint] NOT NULL,
	[Cod_Producto] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Inventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[novedades]    Script Date: 11/09/2025 3:44:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[novedades](
	[Cod_producto] [varchar](20) NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Fecha_novedad] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 11/09/2025 3:44:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[ID] [int] NOT NULL,
	[Documento] [bigint] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Contraseña] [varchar](30) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[Correo] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Productos_Tipo]    Script Date: 11/09/2025 3:44:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Productos_Tipo]
    @Tipo NVARCHAR(20)
AS
BEGIN
    SELECT Cod_Producto, Descripcion, Tipo, Valor_unitario
    FROM productos
    WHERE Tipo = @Tipo;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_Rol]    Script Date: 11/09/2025 3:44:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_Rol]
    @Rol NVARCHAR(50)
AS
BEGIN
    SELECT Documento, Nombre, Correo, Rol
    FROM usuario
    WHERE Rol = @Rol;
END;
GO
